@model BusJourneys.Core.Models.Responses.GetBusJourneysResponseDto
@{
    ViewData["Title"] = "GetBusJourneys";
}
<div class="container">
    @if (Model.Data.Count == 0)
    {
        <div class="alert alert-danger" role="alert">
            No bus journeys found.
        </div>

        <div class="row" style="display: flex">
            <img src="http://placekitten.com/750/750" />
        </div>
    }
    else
    {
        <a class="btn btn-lg btn-primary mb-2 mt-2" href="/" role="button">Back</a>
        <button type="button" class="btn btn-danger btn-lg" disabled>@Model.Data.First().OriginLocation - @Model.Data.First().DestinationLocation</button>
        <button type="button" class="btn btn-danger btn-lg" disabled>@Model.Data.First().Journey.Departure.ToString("dd-MM-yyyy")</button>
    }
</div>

@await Html.PartialAsync("Partial/Home/_GetBusJourneysData");

